/* Noto Sans Font Import */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Roboto Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box !important;
}

body {
    /* background-color: rgba(0, 0, 255, 0.349); */
    font-family: 'Roboto';
    max-width: 1400px;
    margin: 0 auto;
}

.game {
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    height: 60vh;
    padding: 30px 50px;
}

.game > .hangman {
    display: flex;
    justify-content: center;
    align-items: stretch;
    /* background-color: purple; */
    height: auto;
}

.game > .hangman > img {
    width: 400px;
}

.game > aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    /* background-color: pink; */
}

.game .choose-word-button{
    background-color: #27AE60;
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 8px;
}

.game .choose-word-button:hover{
    cursor: pointer;
}

.game .choose-word-button > p {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
}

.game .game-word {
    color: #000000;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
}

.letters {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* background-color: green; */
    height: 20vh;
}

.letters > section {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
}

.letters > section > button {
    width: 40px;
    height: 40px;
    font-weight: 700;
    font-size: 16px;
    background: #E1ECF4;
    border: 1px solid #7AA7C7 !important;
    color: #39739D;
    border-radius: 3px;
    margin: 5px 5px;
}

.disabled {
    background: #798A9F !important;
    color: #6b7075 !important;
}

.user-guess {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.user-guess p {
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

.user-guess > input {
    width: 353px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    margin: 0 12px;
}

.user-guess > button {
    width: 100px;
    height: 40px;
    background: #E1ECF4;
    border: 1px solid #7AA7C7;
    border-radius: 3px;
}

.user-guess > button:hover{
    cursor: pointer;
}

.user-guess > button > p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #3C76A1;
}
